Repository littlehorse-enterprises/littlehorse, pull requests merged in 2024-06, with the labels that each got.

#858 feat(python-sdk): Add customizable timeout for workflow `TaskRuns`
  sdk-python/littlehorse/workflow.py
  sdk-python/tests/test_workflow.py
Labels: sdk-python

#864 feat(dashboard): search for `wfRuns` by variable `name` & `value`
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/app/(authenticated)/(diagram)/wfSpec/[...props]/actions/searchVariables.ts
  dashboard/src/app/(authenticated)/(diagram)/wfSpec/[...props]/components/SearchVariableDialog.tsx
  dashboard/src/app/(authenticated)/(diagram)/wfSpec/[...props]/components/WfRuns.tsx
  dashboard/src/app/(authenticated)/(diagram)/wfSpec/[...props]/components/WfRunsHeader.tsx
  dashboard/src/app/(authenticated)/(diagram)/wfSpec/[...props]/components/WfSpec.tsx
  dashboard/src/components/ui/button.tsx
  dashboard/src/components/ui/dialog.tsx
  dashboard/src/components/ui/input.tsx
  dashboard/src/components/ui/select.tsx
Labels: dashboard

#870 feat(dashboard): edge modal to display details (mutations, errors, etc.)
  dashboard/src/app/(authenticated)/(diagram)/components/EdgeTypes/Default.tsx
  dashboard/src/app/(authenticated)/(diagram)/components/EdgeTypes/EdgeDetails.tsx
  dashboard/src/app/(authenticated)/(diagram)/components/Layouter.tsx
  dashboard/src/app/(authenticated)/(diagram)/components/Modals/Edge.tsx
  dashboard/src/app/(authenticated)/(diagram)/components/Modals/index.ts
  dashboard/src/app/(authenticated)/(diagram)/context/ModalContext.tsx
  dashboard/src/app/(authenticated)/(diagram)/layout.tsx
  dashboard/src/app/(authenticated)/(diagram)/wfRun/[...ids]/components/WfRun.tsx
Labels: dashboard

#887 feat(sdk-python): allow model import root module
  .pre-commit-config.yaml
  docs/docs/05-developer-guide/05-task-worker-development.md
  local-dev/compile-proto.sh
  sdk-python/examples/basic/example_basic.py
  sdk-python/examples/child_workflow/child_workflow.py
  sdk-python/examples/conditionals/example_conditionals.py
  sdk-python/examples/conditionals_while/example_conditionals_while.py
  sdk-python/examples/error_handling/example_error_handling.py
  sdk-python/examples/external_event/example_external_event.py
  sdk-python/examples/json/example_json.py
  sdk-python/examples/mutation/example_mutation.py
  sdk-python/examples/parallel_approvals/parallel_approvals.py
  sdk-python/examples/retries/retries.py
  sdk-python/littlehorse/config.py
  sdk-python/littlehorse/exceptions.py
  sdk-python/littlehorse/model/__init__.py
  sdk-python/littlehorse/utils.py
  sdk-python/littlehorse/worker.py
  sdk-python/littlehorse/workflow.py
  sdk-python/tests/test_utils.py
  sdk-python/tests/test_worker.py
  sdk-python/tests/test_workflow.py
Labels: sdk-python

#856 fix(dashboard): handle `LHTaskError` properly
  dashboard/src/app/(authenticated)/(diagram)/components/Modals/TaskRun.tsx
  dashboard/src/app/(authenticated)/(diagram)/components/NodeTypes/Task/TaskDetails.tsx
  dashboard/src/app/(authenticated)/(diagram)/wfRun/[...ids]/components/Variables.tsx
  dashboard/src/app/utils/variables.ts
  dashboard/src/components/ui/button.tsx
  dashboard/src/components/ui/dialog.tsx
  dashboard/src/components/ui/input.tsx
  dashboard/src/components/ui/select.tsx
  dashboard/src/components/ui/table.tsx
  dashboard/src/components/utils.ts
Labels: dashboard

#899 chore(protobuf): generate protobuf files from x86_64 and aarch_64
  local-dev/Dockerfile
  local-dev/compile-proto.sh
Labels: enhancement

#902 fix(dashboard): handle tenantId for taskRuns
  dashboard/src/app/(authenticated)/(diagram)/components/NodeTypes/Task/TaskDetails.tsx
Labels: bug
