Repository littlehorse-enterprises/littlehorse, pull requests merged in 2024-05, with the labels that each got.

#782 fix(proto): remove proto build for dashboard
  local-dev/compile-proto.sh
Labels: bug

#786 fix(dashboard): fixes thread selector highlight
  dashboard/src/app/(authenticated)/(diagram)/components/NodeTypes/Task/TaskDetails.tsx
  dashboard/src/app/(authenticated)/(diagram)/components/ThreadPanel.tsx
Labels: bug, dashboard

#827 fix(java-sdk): Detect if poll thread stops running and re-establish connection
  sdk-java/src/main/java/io/littlehorse/sdk/worker/internal/PollThread.java
  sdk-java/src/main/java/io/littlehorse/sdk/worker/internal/RebalanceThread.java
Labels: sdk-java

#825 docs(readme): fix logo and badges
  README.md
Labels: documentation
