Repository littlehorse-enterprises/littlehorse, pull requests merged in 2024-07, with the labels that each got.

#906 fix(dashboard): large text support on modals
  dashboard/src/app/(authenticated)/(diagram)/components/Modals/TaskRun.tsx
  dashboard/src/components/ui/dialog.tsx
Labels: dashboard

#914 ci(lhctl): release lhctl binaries and generate release notes
  .github/workflows/release.yml
  cliff.toml
Labels: enhancement, lhctl

#894 fix(server): Delete TaskWorkerGroups after deleting TaskDef
  schemas/internal/command.proto
  sdk-js/src/proto/acls.ts
  sdk-js/src/proto/common_enums.ts
  sdk-js/src/proto/common_wfspec.ts
  sdk-js/src/proto/external_event.ts
  sdk-js/src/proto/google/protobuf/empty.ts
  sdk-js/src/proto/google/protobuf/timestamp.ts
  sdk-js/src/proto/node_run.ts
  sdk-js/src/proto/object_id.ts
  sdk-js/src/proto/service.ts
  sdk-js/src/proto/task_def.ts
  sdk-js/src/proto/task_run.ts
  sdk-js/src/proto/user_tasks.ts
  sdk-js/src/proto/variable.ts
  sdk-js/src/proto/wf_run.ts
  sdk-js/src/proto/wf_spec.ts
  sdk-js/src/proto/workflow_event.ts
  sdk-python/littlehorse/model/__init__.py
  server/src/main/java/io/littlehorse/common/model/corecommand/CommandModel.java
  server/src/main/java/io/littlehorse/common/model/metadatacommand/subcommand/DeleteTaskDefRequestModel.java
  server/src/main/java/io/littlehorse/common/model/metadatacommand/subcommand/DeleteTaskWorkerGroupRequestModel.java
  server/src/main/java/io/littlehorse/common/proto/Command.java
  server/src/main/java/io/littlehorse/common/proto/CommandOrBuilder.java
  server/src/main/java/io/littlehorse/common/proto/CommandOuterClass.java
  server/src/main/java/io/littlehorse/common/proto/DeleteTaskWorkerGroupRequest.java
  server/src/main/java/io/littlehorse/common/proto/DeleteTaskWorkerGroupRequestOrBuilder.java
  server/src/main/java/io/littlehorse/server/KafkaStreamsServerImpl.java
  server/src/main/java/io/littlehorse/server/streams/ServerTopology.java
  server/src/main/java/io/littlehorse/server/streams/topology/core/MetadataCommandExecution.java
  server/src/main/java/io/littlehorse/server/streams/topology/core/processors/MetadataProcessor.java
  server/src/test/java/io/littlehorse/common/model/metadatacommand/PrincipalAdministrationTest.java
  server/src/test/java/io/littlehorse/common/model/metadatacommand/PutWfSpecRequestModelTest.java
  server/src/test/java/io/littlehorse/common/model/metadatacommand/TenantAdministrationTest.java
  server/src/test/java/io/littlehorse/common/model/metadatacommand/subcommand/PutWorkflowEventDefRequestModelTest.java
  server/src/test/java/io/littlehorse/server/TestCommandExecutionContext.java
  server/src/test/java/io/littlehorse/server/TestRequestExecutionContext.java
  server/src/test/java/io/littlehorse/server/streams/topology/core/processors/CommandProcessorTest.java
  server/src/test/java/io/littlehorse/server/streams/topology/core/processors/MetadataProcessorTest.java
Labels: server

#917 ci(goreleaser): use go releaser
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: lhctl

#923 Refactor `SearchExternalEvent` RPC
  dashboard/src/app/(authenticated)/externalEventDef/[name]/actions/searchExternalEvent.ts
  dashboard/src/app/(authenticated)/externalEventDef/[name]/components/ExternalEventDef.tsx
  docs/docs/08-api.md
  go.mod
  go.sum
  lhctl/cmd/external_event.go
  lhctl/cmd/external_event_def.go
  package-lock.json
  schemas/littlehorse/service.proto
  sdk-go/common/model/service.pb.go
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/SearchExternalEventDefRequest.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/SearchExternalEventRequest.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/SearchExternalEventRequestOrBuilder.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/Service.java
  sdk-js/src/proto/acls.ts
  sdk-js/src/proto/common_enums.ts
  sdk-js/src/proto/common_wfspec.ts
  sdk-js/src/proto/external_event.ts
  sdk-js/src/proto/google/protobuf/empty.ts
  sdk-js/src/proto/google/protobuf/timestamp.ts
  sdk-js/src/proto/node_run.ts
  sdk-js/src/proto/object_id.ts
  sdk-js/src/proto/service.ts
  sdk-js/src/proto/task_def.ts
  sdk-js/src/proto/task_run.ts
  sdk-js/src/proto/user_tasks.ts
  sdk-js/src/proto/variable.ts
  sdk-js/src/proto/wf_run.ts
  sdk-js/src/proto/wf_spec.ts
  sdk-js/src/proto/workflow_event.ts
  sdk-python/littlehorse/model/__init__.py
  sdk-python/littlehorse/model/service_pb2.py
  sdk-python/littlehorse/model/service_pb2.pyi
  server/src/main/java/io/littlehorse/server/streams/lhinternalscan/publicrequests/SearchExternalEventRequestModel.java
Labels: server, lhctl
