Repository littlehorse-enterprises/littlehorse, pull requests merged in 2024-08, with the labels that each got.

#846 feat(dashboard): varName of TaskDef in WfSpec
  dashboard/src/app/(authenticated)/(diagram)/components/NodeTypes/Task/Task.tsx
  dashboard/src/app/(authenticated)/(diagram)/components/NodeTypes/Task/TaskDetails.tsx
Labels: dashboard

#939 [WIP] Add Docker Compose server examples
  docs/docs/06-operations/10-docker-compose/00-basic.md
  docs/docs/06-operations/10-docker-compose/05-confluent-cloud.md
  docs/docs/06-operations/10-docker-compose/10-docker-compose.md
  examples/docker-compose/docker-compose.yml
  examples/docker-compose/three-servers/docker-compose.yml
Labels: documentation

#962 build(ci): add automated release management
  .github/actions/publish-image/action.yml
  .github/workflows/branch.yml
  .github/workflows/master.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  gradle.properties
  lhctl/cmd/version.go
  lhctl/main.go
  sdk-python/pyproject.toml
  server/build.gradle
  server/src/main/java/io/littlehorse/server/LHServerListener.java
  server/src/main/java/io/littlehorse/server/Version.java
  server/src/test/java/io/littlehorse/server/VersionTest.java
Labels: enhancement

#978 build(server): use tag version on server artifact
  .github/workflows/publish-docker.yml
  .github/workflows/release.yml
  docker/lhctl/Dockerfile
  server/src/main/java/io/littlehorse/server/Version.java
  server/src/test/java/io/littlehorse/server/VersionTest.java
Labels: bug, server, lhctl

#987 fix(dashboard): use LHC_API_PROTOCOL to define protocol
  dashboard/src/lhConfig.ts
Labels: bug, dashboard
