Repository littlehorse-enterprises/littlehorse, pull requests merged in 2025-03, with the labels that each got.

#1377 feat(sdk-java): add config builder
  sdk-java/src/main/java/io/littlehorse/sdk/common/config/ConfigBase.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/config/ConfigSource.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/config/LHConfig.java
  sdk-java/src/test/java/io/littlehorse/sdk/common/config/ConfigSourceTest.java
  sdk-java/src/test/java/io/littlehorse/sdk/common/config/LHConfigTest.java
  server/src/test/java/io/littlehorse/common/LHServerConfigTest.java
Labels: feature, sdk-java

#1380 feat(local-dev): add additional scripts
  img/badges/black.svg
  img/badges/blue.svg
  img/badges/gray.svg
  img/white-logo.svg
  local-dev/Dockerfile
  local-dev/compile-proto.sh
  local-dev/generate-badges.sh
  local-dev/publish.sh
  sdk-go/lhproto/service.pb.go
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/PutExternalEventRequest.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/PutExternalEventRequestOrBuilder.java
  sdk-js/src/proto/service.ts
Labels: refactor

#1346 feat(canary): add healthy checks to canary
  canary/canary.properties
  canary/src/main/java/io/littlehorse/canary/Main.java
  canary/src/main/java/io/littlehorse/canary/aggregator/Aggregator.java
  canary/src/main/java/io/littlehorse/canary/aggregator/prometheus/MetricStoreExporter.java
  canary/src/main/java/io/littlehorse/canary/aggregator/prometheus/PrometheusMetric.java
  canary/src/main/java/io/littlehorse/canary/config/CanaryConfig.java
  canary/src/main/java/io/littlehorse/canary/infra/HealthExporter.java
  canary/src/main/java/io/littlehorse/canary/infra/HealthStatusBinder.java
  canary/src/main/java/io/littlehorse/canary/infra/HealthStatusRegistry.java
  canary/src/main/java/io/littlehorse/canary/infra/HealthStatusSupplier.java
  canary/src/main/java/io/littlehorse/canary/infra/PrometheusExporter.java
  canary/src/main/java/io/littlehorse/canary/infra/WebServer.java
  canary/src/main/java/io/littlehorse/canary/infra/WebServiceBinder.java
  canary/src/main/java/io/littlehorse/canary/infra/WebServiceRegistry.java
  canary/src/main/java/io/littlehorse/canary/metronome/MetronomeGetWfRunExecutor.java
  canary/src/main/java/io/littlehorse/canary/metronome/MetronomeRunWfExecutor.java
  canary/src/main/java/io/littlehorse/canary/metronome/MetronomeWorker.java
  canary/src/main/java/io/littlehorse/canary/prometheus/PrometheusExporter.java
  canary/src/main/resources/META-INF/microprofile-config.properties
  canary/src/main/resources/log4j2.properties
  sdk-java/src/main/java/io/littlehorse/sdk/worker/LHTaskWorker.java
  sdk-java/src/main/java/io/littlehorse/sdk/worker/internal/LHServerConnectionManager.java
Labels: feature, canary

#1405 fix(dashboard): fix sign out
  dashboard/src/app/(authenticated)/[tenantId]/components/Principal.tsx
  dashboard/src/app/api/auth/[...nextauth]/authOptions.ts
Labels: bug, dashboard
