Repository littlehorse-enterprises/littlehorse, pull requests merged in 2025-04, with the labels that each got.

#1410 feat(sdk-python): load properties form dict
  sdk-python/littlehorse/config.py
  sdk-python/poetry.lock
  sdk-python/pyproject.toml
  sdk-python/tests/test_config.py
Labels: sdk-python

#1419 feat(dashboard): post external event
  dashboard/components.json
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/Diagram.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/Modals/NodeRun/ExternalEventDefDetail.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/DiagramDataGroup.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/DiagramDataGroupIndexer.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/Duration.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/Entry.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/ErrorMessage.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/Result.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/Status.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/DataGroupComponents/Variables.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/ExternalEvent/ExternalEvent.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/ExternalEvent/PostEvent.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/ExternalEvent/actions.ts
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/ExternalEvent/getExternalEvent.ts
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/Fade.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/NodeDetails.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/Task/TaskDetails.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/ThrowEvent/ThrowEvent.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/UserTask/UserTask.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/components/NodeTypes/WaitForCondition/WaitForCondition.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/wfRun/[...ids]/components/WfRun.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/wfSpec/[...props]/components/ScheduledWfRuns.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/wfSpec/[...props]/components/WfRuns.tsx
  dashboard/src/app/(authenticated)/[tenantId]/(diagram)/wfSpec/[...props]/components/WfSpec.tsx
  dashboard/src/app/(authenticated)/[tenantId]/components/OverflowText.tsx
  dashboard/src/app/(authenticated)/[tenantId]/components/Search.tsx
  dashboard/src/app/(authenticated)/[tenantId]/components/VersionTag.tsx
  dashboard/src/app/(authenticated)/[tenantId]/taskDef/[name]/components/TaskDef.tsx
  dashboard/src/app/actions/getWfSpecsByTaskDef.tsx
  dashboard/src/app/actions/rescueWfRun.tsx
  dashboard/src/app/actions/resumeWfRun.tsx
  dashboard/src/app/actions/stopWfRun.tsx
  dashboard/src/app/hooks/useWfRun.tsx
  dashboard/src/app/hooks/useWfSpec.tsx
  dashboard/src/app/layout.tsx
  dashboard/src/app/utils/variables.ts
  dashboard/src/components/ui/alert-dialog.tsx
  dashboard/src/instrumentation.ts
  dashboard/src/lib/utils.ts
Labels: dashboard

#1426 chore(sdk-js): license to agplv3
  sdk-js/package.json
Labels: clients

#1430 refactor(sdk-java): Split NodeOutput `timeout` method functionality
  examples/external-event/src/main/java/io/littlehorse/examples/ExternalEventExample.java
  examples/user-tasks/src/main/java/io/littlehorse/examples/UserTasksExample.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/ExternalEventNodeOutput.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/NodeOutput.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/TaskNodeOutput.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/WorkflowThread.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/internal/ExternalEventNodeOutputImpl.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/internal/NodeOutputImpl.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/internal/TaskNodeOutputImpl.java
  sdk-java/src/main/java/io/littlehorse/sdk/wfsdk/internal/WorkflowThreadImpl.java
Labels: sdk-java

#1286 fix(server): Report TaskRun failure when var deserialization error occurs
  lhctl/internal/task_run.go
  schemas/littlehorse/common_enums.proto
  schemas/littlehorse/common_wfspec.proto
  sdk-dotnet/LittleHorse.Sdk/Helper/LHMappingHelper.cs
  sdk-dotnet/LittleHorse.Sdk/Worker/Internal/LHServerConnection.cs
  sdk-go/lhproto/common_enums.pb.go
  sdk-go/lhproto/common_wfspec.pb.go
  sdk-go/littlehorse/task_worker_internal.go
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/CommonEnums.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/TaskNode.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/TaskNodeOrBuilder.java
  sdk-java/src/main/java/io/littlehorse/sdk/common/proto/TaskStatus.java
  sdk-java/src/main/java/io/littlehorse/sdk/worker/internal/ScheduledTaskExecutor.java
  sdk-js/src/proto/common_enums.ts
  sdk-js/src/proto/common_wfspec.ts
  sdk-python/littlehorse/model/__init__.py
  sdk-python/littlehorse/model/common_enums_pb2.py
  sdk-python/littlehorse/model/common_enums_pb2.pyi
  sdk-python/littlehorse/worker.py
  server/src/main/java/io/littlehorse/common/model/corecommand/failure/LHTaskErrorModel.java
  server/src/main/java/io/littlehorse/common/model/corecommand/subcommand/ReportTaskRunModel.java
  server/src/main/java/io/littlehorse/common/model/getable/core/taskrun/TaskAttemptModel.java
  server/src/main/java/io/littlehorse/common/model/getable/core/taskrun/TaskRunModel.java
  server/src/main/java/io/littlehorse/common/model/getable/core/variable/VariableValueModel.java
  server/src/test/java/e2e/VarSerdeTest.java
Labels: server
